ion-title {
    font-weight: bold;
    font-size: 20px;
}
h3 {
    font-weight: bold;
}

p {
    font-size: 17px;
    margin-bottom: 20px;
}

ion-label {
    font-weight: bold;
    font-size: 20px;
}

.btn-senha {
    margin-top: 10px;
    margin-bottom: 20px;
}

.senha-box {
    margin-top: 15px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    //font-family: monospace;
}