ion-header {
    text-align: center;
}

ion-title {
    font-weight: 600;
}

ion-fab {
    padding: 0 0 16px 16px;

}

ion-list-header {
    margin-top: 16px;
    font-weight: bold;
    font-size: 25px;
}