<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu navegação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">menu</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-list-header>O que você quer aprender hoje?</ion-list-header>
  <ion-list>
    <ion-item button routerLink="/senhas">Como criar senhas seguras</ion-item>
    <ion-item button routerLink="/golpes">Como identificar golpes</ion-item>
    <ion-item button routerLink="/privacidade">Como melhorar sua privacidade</ion-item>
    <ion-item button routerLink="/game">Jogue e teste seus conhecimentos</ion-item>
  </ion-list>

  <ion-fab slot="fixed" horizontal="start" vertical="bottom">
    <ion-fab-button routerLink="/home">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
</ion-content>
