ion-title {
    font-weight: bold;
    font-size: 20px;
}
h3 {
    font-weight: bold;
}

p {
    font-size: 17px;
    margin-bottom: 20px;
}


ion-label {
    font-weight: bold;
    font-size: 20px;
}

.solucao {
    font-weight: bold;
    color: green;
    margin-bottom: -6px;
}