#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  //line-height: 26px;
}

#container p {
  font-size: 18px;
  padding: 0.5rem 1rem;
  //line-height: 22px;
  margin-top: -2.5rem;

  color: #8c8c8c;

}

#container a {
  text-decoration: none;
}