<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <h3>Segurança Fácil</h3>
    <p>Um app educativo com dicas simples para ajudar você a navegar com segurança, proteger seus dados pessoais e usar a tecnologia de forma consciente.</p>

    <ion-button shape="round" size="" routerLink="/menu">Iniciar</ion-button>

  </div>
</ion-content>
